@import 'scroll.css';

:root {
    --card-background: azure;
    --card-height: 350px;
    --card-image-height: 100px;
    --card-text-height: 50px;
    --card-description-height: 50px;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #e6e6e6;
    font-family: sans-serif;
}

header {
    flex: 0;
    height: 50px;
    background-color: aquamarine;
}

#root {
    flex: 1;
}

footer {
    flex: 0;
    background-color: tomato;
}

/* START PAGE */

.start-page {
  padding: 30px;
}

/* CARDS */

.cards {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 30px;
}

.cards__item {
    position: relative;
    height: var(--card-height, 350px);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.3);
    background: var(--card-background, darkseagreen);
    text-align: center;
    display: grid;
    grid-template-rows:
            minmax(var(--card-image-height, 100px), 1fr)
            var(--card-text-height, 50px)
            var(--card-description-height, 50px);
    transition: 300ms transform ease-in-out;
}

.cards__item:not([disable]):hover,
.cards__item:not([disable]):focus {
    transform: translateY(-10px);
}

.cards__item--redirect {
    cursor: pointer;
}

.cards__item__image {
    height: 100%;
    width: 100%;
}

.cards__item__button {

}

.cards__item__button--delete {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 4px;
    top: 4px;
}

/* MUNCHKIN */

#munchkin {
    height: 100%;
}

/* MUNCHKIN DESK */

.munchkin-desk {
    height: inherit;
    background: cadetblue;
    display: grid;
    grid-template-columns: .5fr 2fr .5fr;
    grid-template-rows: 250px 1fr 250px;
}

.munchkin-desk > * {
    border: 1px solid azure;
}

.munchkin-desk__player {
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-gap: 30px;
    grid-column: span 3;
    padding: 0 30px;
}

.munchkin-desk__player__cards {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 150px));
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
    --card-height: 250px;
    --card-text-height: 50px;
    --card-description-height: 50px;
}

.munchkin-desk__player--enemy {
    grid-template-columns: 1fr;
    --card-background: tomato;
}

.munchkin-desk__player--enemy .cards__item * {
    display: none;
}

/* MUNCHKIN ITEMS STASH */

.munchkin-desk__player__stash-button {
    height: 100%;
    width: 100%;
    background: darksalmon;
    position: relative;
}

.munchkin__stash {
    width: 300px;
    background: white;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    border-radius: 4px;
    position: absolute;
    bottom: 105%;
    right: 0;
}

.munchkin__stash__list {
    padding: 0 10px;
    max-height: 400px;
    overflow: auto;
}

.munchkin__stash__list__item {
    list-style-type: none;
    height: 25px;
    line-height: 25px;
    border: 1px solid rgba(0,0,0,.5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px 0;
    cursor: grabbing;
}

.munchkin__stash__list__item--dragzone {
    border: 1px solid rgba(0,0,0,.75);
    background: red;
}
